@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes bounce-animation {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-6px);
  }

  100% {
    transform: translateY(0);
  }
}

.dot {
  font-size: 2xl;
}

.bounce-animation {
  animation: bounce-animation 1.5s linear infinite;
}

.markdown-container {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  padding: 20px;
}

.markdown-container h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.markdown-container p {
  margin: 10px 0; 
}

.markdown-container ul {
  margin-left: 20px; 
  padding-left: 20px;
}

.markdown-container ul li {
  margin-bottom: 8px; 
}

.markdown-container table {
  border-collapse: collapse;
  width: 100%;
  margin: 20px 0;
}

.markdown-container table th,
.markdown-container table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.markdown-container table th {
  background-color: #f4f4f4;
}
